<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>Wishlist</name>
	<displayName><![CDATA[Wishlist by me]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[fdsfsfsfsdfsdfsdfdsfsdf]]></description>
	<author><![CDATA[Іван Комарницький]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
