<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>io_wishlist</name>
    <displayName><![CDATA[IO Wish List]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Wish List extends user interface about space for save products]]></description>
    <author><![CDATA[ME]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>